<%= form_for(@finance) do |f| %>
    <% if @finance.errors.any?  %>
        <div id="alert alert-warning">
          <h2><%= pluralize(@finance.errors.count, t('error')) %> <%= t('error.finances.text_alert')%>:</h2>

          <ul>
            <% @finance.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <div class="col-10">
        <%= f.label :action_date, class: 'col-2 col-form-label' %>
        <%= f.date_select :action_date, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label t('amount') %>
      <%= f.text_field :amount , class: 'form-control'%>
    </div>
    <div class="form-group">
      <%= f.label t('description') %>
      <%= f.text_field :description , class: 'form-control'%>
    </div>

    <div class="form-group">
      <%= f.label t('category') %>
      <%= select(:finance, :category_id, get_user_categories, {:class => 'dropdown-menu'}) %>
    </div>

    <div class="btn-toolbar justify-content-between">

      <%= hidden_div_if(@index, id: 'btn_back', class: 'btn-group') do %>
          <%= link_to t('back'), finances_path, class: 'back btn btn-primary btn-lg' %>
      <% end %>

      <div class="btn-group">
        <%= f.submit t('save'), class: 'btn btn-success btn-lg'%>
      </div>

    </div>


<% end %>