<% @index = true %>
  <%= render 'finances/new' %>
<table class="table table-striped table-sm">
  <thead class="head">
  <tr>
    <th><%= t('dat') %></th>
    <th><%= t('amount') %></th>
    <th><%= t('category') %> <%= t('and') %> <%= t('description') %></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @finances.each do |fin| %>
      <tr>
        <% @category = get_category(fin.category_id) %>
        <td scope="row">
          <% if @date != fin.action_date %>
              <%= fin.action_date %>
              <% @date = fin.action_date %>
          <% end %>
        </td>
        <td><%= get_sign(@category)%><%= number_to_currency(fin.amount) %></td>
        <td><%= @category.title %></br>
          <small> <%= fin.description %> </small>
        </td>
        <td>
          <%= link_to t('edit'), edit_finance_path(fin) %>
        </td>
        <td>
          <%= link_to t('remove'), fin, method: :delete, data: {confirm: t('confirmation')} %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
