<h1>Your finances</h1>

<table class="table table-striped table-sm">
  <thead class="head">
  <tr>
    <th>Date</th>
    <th>Amount</th>
    <th>Category and description</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @finances.each do |fin| %>
      <tr>
        <td scope="row"><%= fin.action_date %></td>
        <td><%= number_to_currency(fin.amount) %></td>
        <td><%= Category.find(fin.category_id).title %></br>
          <small> <%= fin.description %> </small> </td>
        <td>
          <%= link_to 'Edit', edit_finance_path(fin) %>

        </td>
        <td>
          <%= link_to 'Remove', fin, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= render 'finances/new' %>
