<table class="table table-striped table-sm">
  <thead class="head">
  <tr>
    <th><%= t('dat') %></th>
    <th><%= t('category') %></th>
    <th> <%= t('description') %></th>
    <th><%= t('amount') %></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @finances.each do |fin| %>
      <tr>
        <% @categ = get_category(fin.category_id) %>
        <td>
          <% if @date != fin.action_date %>
              <%= fin.action_date %>
              <% @date = fin.action_date %>
          <% end %>
        </td>
        <td>
          <% if @title != @categ.title %>
              <%= @categ.title %>
              <% @title = @categ.title %>
          <% end %>
        </td>
        <td><%= fin.description %></td>
        <td><%= get_sign(@categ) %><%= number_to_currency(fin.amount) %></td>
        <td>
          <%= link_to t('edit'), edit_finance_path(fin) %>
        </td>
        <td>
          <%= link_to t('remove'), fin, method: :delete, data: {confirm: t('confirmation')} %>
        </td>
      </tr>
  <% end %>
  <tr>
    <th></th>
    <th></th>
    <th id="expense"><%= t('total_income') %></th>
    <th>+<%= number_to_currency(@income_current_period) %></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <th></th>
    <th></th>
    <th id="income"><%= t('total_expense') %></th>
    <th>-<%= number_to_currency(@expense_current_period) %></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <th></th>
    <th></th>
    <th id="total"><%= t('total') %></th>
    <th><%= number_to_currency(@total) %></th>
    <th></th>
    <th></th>
  </tr>
  </tbody>
</table>