<h4 class="text-center"> <%= t('finance_report') %> <%= period(@start_date, @end_date) %></h4>
<%= render 'report/all' %>

<% @types.each do |type_id| %>

    <h4 class="text-center"> <%= t('grouped_by') %> <%=  get_type_title(type_id).downcase %> <%= t('categories') %></h4>

    <% if type_id == Type::INCOME %>
        <% @categories = @categories_income %>
        <% @finances_current = @total_income_period %>
        <%= render 'report/bytype' %>
    <% end %>

    <% if type_id == Type::EXPENSE %>
        <% @categories = @categories_expense %>
        <% @finances_current = @total_expense_period %>
        <%= render 'report/bytype' %>
    <% end %>

<% end %>

<%= link_to t('new_report'), new_report_path, class: 'back btn btn-primary btn-lg' %>