<% @index_cat = true %>
<table class="table table-striped table-sm">
  <thead class="thead">
  <tr>
    <th><%= t('type')%></th>
    <th><%= t('category')%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @categories.each do |category| %>
      <tr>
        <td scope="row"><%= Type.find(category.type_id).title %></td>
        <td><%= category.title %></td>
        <td>
          <%= link_to t('edit'), edit_category_path(category) %>
        </td>
        <td>
          <%= link_to t('remove'), category, method: :delete, data: { confirm: t('confirmation') } %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= render 'categories/new' %>