<%= form_for(@category) do |f| %>
    <% if @category.errors.any? %>
        <div id="alert alert-warning">
          <h2><%= pluralize(@category.errors.count, t('error')) %> <%= t('text_alert_category')%>:</h2>

          <ul>
            <% @category.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label t('title1') %>
      <%= f.text_field :title , class: 'form-control'%>
    </div>
    <div class="form-group">
      <%= f.label t('type') %>
      <%= select(:category, :type_id, get_all_types, {:class => 'dropdown-menu' }) %>
    </div>

    <div class="btn-toolbar justify-content-between">

      <%= hidden_div_if(@index_cat, id: 'btn_back', class: 'btn-group') do %>
          <%= link_to t('back'), categories_path, class: 'back btn btn-primary btn-lg' %>
      <% end %>

      <div class="btn-group">
          <%= f.submit t('save'), class: 'btn btn-success btn-lg'%>
      </div>

    </div>
<% end %>